@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Smooch&display=swap');

:root {
    --fonte-logo: 'Smooch', cursive;
}

body {
    width: 90%;
    height: 90vh;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0px auto 0px auto;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.especial {
    margin-top: 20px;
    min-width: 57%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.bloco {
    padding: 20px;
    display: flex;
    width: 470px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    flex-direction: column;
    align-items: center;   
}

.bloco a {
    text-decoration: none;
}

.bloco h1 {
    font-family: var(--fonte-logo);
    font-size: 3em;
}

.bloco p {
    margin-top: 50px;
    font-size: 1.1em;
}

#button {
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    background-color: #0095F6;
    color: white;
    text-align: center;
    padding-top: 8px;
    width: 350px;
    height: 7%;
    border-radius: 5px;
}

.especial2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

@media (max-width: 980px) {
    .especial {
        display: none;
        margin-left: -150px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #button {
        width: 320px;
    }
}

