@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --cor1:#0D0D0D;
    --cor2:#262626;
    --cor3:#404040;
    --cor4:#595959;
    --cor5:#8C8C8C;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-shadows: 'Shadows Into Light', cursive;
    --font-destaque: 'Sriracha', cursive;
}

* {
    margin: 0px;
}

body {
    background-color: var(--cor5);
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white
}

header h1 {
    font-family: var(--font-destaque);
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.651);
}

nav {
    background-color: var(--cor3);
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px;
    transition-duration: 0.6s;
    border-radius: 5px;
    
}

nav a:hover {
    background-color: var(--cor2);
    color: #A68F97;
    padding: 10px
}

main {
    background-color: white;
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-shadows);
    text-align: center;
    font-size: 3em;
}

main div {
    background-color: var(--cor3);
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

div > img {
    border-radius: 4px;
}

main p {
    text-indent: 20px;
    columns: 2;
}

footer {
    background-color: #0D0D0D;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.6s;
}

footer a:hover {
    color: #aaaaaa;
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 4px;
}